@media (max-width: 999px) {
    html,
    body,
    header,
    .view, #about-me, #skills, #projects, #contato{
      height: 100vh;
    }
  }
  
  
  @media (max-width: 999px) {
    .view:before{
      height: 100vh;
      
    }
  }
  

  


/*RESPONSIVO*/
    


/*----------------------------------------------------*/



/*NAVBAR*/

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: rgb(18, 19, 20) !important;
    }
  }  

/*NAVBAR*/


    
/*----------------------------------------------------*/



/**/


@media (max-width: 999px) {
    .container-2 {
      padding: 270px;
      padding-left: 170px;
    }
  }
  
  @media (max-width: 999px) {
    h1 {
      letter-spacing: 8px;
    }
  }
  
  @media (max-width: 999px) {
    h5 {
      letter-spacing: 5px;
    }
  }
  


/**/
    

/*----------------------------------------------------*/


/*SOBRE RESPONSIVO*/

@media (max-width: 999px) {
    #about-me{
        height: 2000px;
        padding: 800px 15px;
        background-color: white;
      }
 }
  
  
  @media (max-width: 999px) {
    #title-about {
     position: absolute;
     bottom: 0px;
     top: 800px;
     left: 0%;
   }



  @media (max-width: 999px) {
    #img-about {
      position: absolute;
      bottom: 2000px;
      top: 900px;
      left: 0%;

    }



  @media (max-width: 999px) {
    #text-about {
      position: relative;
      bottom: 0px;
      top: 900px;
      right: 30%;
    }


/*FIM SOBRE RESPONSIVO*/
    

/*----------------------------------------------------*/



/*SKILLS RESPONSIVO*/

@media (max-width: 991px) {
    #container-skill{
      height: 65vh;
      width: 100%;
    }
  }


  @media (max-width: 991px) {
    #skillimg{
      width: 100%;
    }
  }
  


@media (max-width: 991px) {
    #titulo-skills{
        font-family: 'Baloo da 2', sans-serif; 
        letter-spacing: 1px; 
        color: white; 
        position: absolute; 
        left: 60px;
    }
}


  @media (max-width: 991px) {
    .container-skills ul li{
      position: relative;
      left:100%;
      list-style: none;
      margin: 50px 0;
      font-weight: 500;
      text-transform: uppercase;
      font-family: 'Mukta', sans-serif;
    }
  }
  
  @media (max-width: 991px){
    .container-skills ul li:before{
      content: '';
      position: absolute;
      top: calc(100% + 10px);
      left: 0px;
      width: 300px;
      height: 10px;
      border-radius: 1000px;
      border: 1px solid rgb(200, 200, 200);
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 10px rgb(222, 164, 255);
    }
  
  }
  
  
  @media (max-width: 991px){
    .container-skills ul li:after{ 
      content: '';
      position: absolute;
      top: calc(92% + 10px);
      left: 2.5px;
      top: 36.5px;
      width: 0;
      height: 5px;
      background-color: rgb(176, 61, 230);
      border-radius: 5px;
  
      animation-duration: 7s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }
  
  @media (max-width: 991px){
  .container-skills ul li.html:after{
    animation-name: html;
    }
  }
  
  
  /*85%*/
  
  @media(max-width: 991px){
  
  @keyframes html{
    to {
      width: 255px;
  
    }
   }
  }
  
  @media(max-width: 991px){
  .container-skills ul li.css:after{
    animation-name: css;
   }
  }
  
  
  /*75%*/
  
  @media(max-width: 991px){
  @keyframes css{
    to {
      width: 225px;
  
    }
  }
  }
  
  @media(max-width: 991px){
  .container-skills ul li.js:after{
    animation-name: js;
  }
  }
  
  /*50%*/
  
  @media (max-width: 991px){
  @keyframes js{
    to {
      width: 150px;
  
    }
  }
}